<h1>臨床判断アルゴリズム</h1>
<p>どんな症状ですか？</p>
<p>症状を選んでください。</p>
<div class="container">
  <div class="row">
        <a href="#" class="btn btn-info" role="button">発熱</a>
        <a href="#" class="btn btn-info" role="button">頭痛</a>
        <a href="#" class="btn btn-info" role="button">発疹</a>
        <a href="#" class="btn btn-info" role="button">浮腫</a>
        <a href="#" class="btn btn-info" role="button">嚥下困難・障害</a>
        <a href="#" class="btn btn-info" role="button">腹痛</a>
        <a href="#" class="btn btn-info" role="button">下痢・便秘</a>
        <a href="#" class="btn btn-info" role="button">動悸・心悸亢進</a>
        <a href="#" class="btn btn-info" role="button">咳・痰・呼吸困難</a>
        <a href="#" class="btn btn-info" role="button">記憶障害</a>
        <a href="#" class="btn btn-info" role="button">めまい</a>
        <a href="#" class="btn btn-info" role="button">腰痛</a>      
      </div>
  </div>
</div>
