<h1>臨床判断アルゴリズム</h1>
<p>どんな症状ですか？</p>
<p>症状を選んでください。</p>
<li>発熱</li>
<li>頭痛</li>
<li>発疹</li>
<li>浮腫</li>
<li>嚥下困難・障害</li>
<li>腹痛</li>
<li>下痢・便秘</li>
<li>動悸・心悸亢進</li>
<li>咳・痰・呼吸困難</li>
<li>記憶障害</li>
<li>めまい</li>
<li>腰痛</li>
